<footer>
  <p>© {{ site.time | date: "%Y" }} {{ site.author.name }}</p>

  <div class="social-icons">
    <a href="https://www.linkedin.com/in/anuj-singh-a5226337/"
       target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
      <img src="https://cdn.simpleicons.org/linkedin/4cc9f0" alt="LinkedIn">
    </a>

    <a href="https://www.youtube.com/@AnujSingh256"
       target="_blank" rel="noopener noreferrer" aria-label="YouTube">
      <img src="https://cdn.simpleicons.org/youtube/ff0000" alt="YouTube">
    </a>

    <a href="https://instagram.com/yourname"
       target="_blank" rel="noopener noreferrer" aria-label="Instagram">
      <img src="https://cdn.simpleicons.org/instagram/e4405f" alt="Instagram">
    </a>

    <a href="https://orcid.org/0000-0000-0000-0000"
       target="_blank" rel="noopener noreferrer" aria-label="ORCID">
      <img src="https://cdn.simpleicons.org/orcid/a6ce39" alt="ORCID">
    </a>

    <a href="https://www.researchgate.net/profile/Anuj-Singh-36"
       target="_blank" rel="noopener noreferrer" aria-label="ResearchGate">
      <img src="https://cdn.simpleicons.org/researchgate/00ccbb" alt="ResearchGate">
    </a>
    <a href="https://github.com/yourusername"
      target="_blank" rel="noopener noreferrer" aria-label="GitHub">
      <img src="https://cdn.simpleicons.org/github/ffffff" alt="GitHub">
    </a>

    <a href="https://www.credly.com/users/yourname"
      target="_blank" rel="noopener noreferrer" aria-label="Credly">
      <img src="https://cdn.simpleicons.org/credly/ff6f00" alt="Credly">
    </a>

    
  </div>
</footer>
